@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin reset-button {
  padding: 0;
  background-color: transparent;
  border: none;
}

@mixin square($size) {
  width: $size;
  aspect-ratio: 1;
}
