:root {
  --color-light: #ffffff;
  --color-dark: #09090b;
  --color-gray: rgb(0 0 0 / 0.2);
  --color-gray-additional: rgb(255 255 255 / 0.1);
  --color-accent: #dfe40f;

  --container-padding-x: 1.25rem;
  --container-width: 75rem;
  --border-radius: 1.875rem;
  --header-height: 4.375rem;

  --mode-color: var(--color-light);
  --mode-color-additional: var(--color-dark);

  --font-montserrat-sans: "Montserrat", sans-serif;
  --font-zen-kaku: "Zen Kaku Gothic New", sans-serif;
}

.dark {
  --mode-color: var(--color-dark);
  --mode-color-additional: var(--color-light);
  --color-gray: rgb(255 255 255 / 0.1);
  --color-gray-additional: rgb(0 0 0 / 0.2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --mode-color: var(--color-dark);
    --mode-color-additional: var(--color-light);
    --color-gray: rgb(255 255 255 / 0.1);
    --color-gray-additional: rgb(0 0 0 / 0.2);
  }

  .light {
    --mode-color: var(--color-light);
    --mode-color-additional: var(--color-dark);
    --color-gray: rgb(0 0 0 / 0.2);
    --color-gray-additional: rgb(255 255 255 / 0.1);
  }
}
