:root {
  --color-light: #ffffff;
  --color-dark: #09090b;
  --color-gray: rgba(0, 0, 0, 0.2);
  --color-gray-additional: rgb(255 255 255 / 0.1);
  --color-accent: #dfe40f;

  --container-padding-x: 20px;
  --container-width: 1200px;
  --border-radius: 30px;
  --header-height: 70px;

  --mode-color: #ffffff;
  --mode-color-additional: #09090b;

  --font-montserrat-sans: "Montserrat", sans-serif;
  --font-zen-kaku: "Zen Kaku Gothic New", sans-serif;
}

.dark {
  --mode-color: #09090b;
  --mode-color-additional: #ffffff;
  --color-gray: rgba(255 255 255 / 0.1);
  --color-gray-additional: rgb(0 0 0 / 0.2);
}
