@use "@/styles/mixins" as *;
@use "@/styles/functions" as *;

.cards {
  padding-bottom: rem(20);

  &Header {
    margin-block: rem(15) rem(40);
    @include flex-center;
    gap: rem(20);
  }

  &Favourites {
    @include square(rem(50));
    @include flex-center;
    background-color: var(--mode-color-additional);
    color: var(--mode-color);
    position: relative;
    border-radius: 50%;
  }

  &Count {
    @include square(rem(30));
    @include flex-center;
    position: absolute;
    left: 80%;
    top: 0;
    background-color: var(--color-accent);
    color: var(--color-dark);
    border-radius: 50%;
  }

  &List {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: rem(20);
    padding-bottom: rem(20);

    @media screen and (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &Item {
    -webkit-animation: zoom 0.3s;
    animation: zoom 0.3s;
  }

  &Buttons {
    @include flex-center;
  }
}

.dialogImage {
  position: absolute;
  inset: 0;
  border-radius: inherit;
  -o-object-fit: cover;
  object-fit: cover;
}

.dialogContent {
  position: absolute;
  bottom: rem(25);
  left: rem(25);
  right: rem(25);
  background-color: rgb(255 255 255 / 0.3);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  z-index: 1;
  border-radius: var(--border-radius);
  padding: rem(20);
  color: var(--color-dark);
}

.dialogTitle {
  padding-bottom: rem(10);
}

@-webkit-keyframes zoom {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}

@keyframes zoom {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}
