@use "@/styles/mixins" as *;
@use "@/styles/functions" as *;

.header {
  padding-block: rem(20);

  &Inner {
    min-height: var(--header-height);
    @include flex-between;
    padding-inline: rem(25);
    background-color: var(--color-accent);
    border-radius: var(--border-radius);
    position: relative;
    z-index: 20;
  }

  &Logo {
    @include flex-center;
    font-weight: 700;
    -moz-column-gap: rem(5);
    column-gap: rem(5);
    font-family: var(--font-family-accent);
    color: var(--color-dark);
  }

  &Icon {
    @include square(rem(40));
    -webkit-animation: rotateAnimation 15s infinite alternate;
    animation: rotateAnimation 15s infinite alternate;
  }
}

@-webkit-keyframes rotateAnimation {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}
