@use "@/styles/mixins" as *;
@use "@/styles/functions" as *;

.buttons {
  @include flex-center;
  gap: rem(15);

  @media screen and (max-width: 768px) {
    gap: rem(5);
  }
}

.completed {
  color: var(--color-accent);
}

.content {
  width: 100%;
}

.input {
  width: 90%;
}
