@use "@/styles/functions" as *;

.tabs {
  &Title {
    margin-block: rem(15) rem(35);
    text-align: center;

    @media screen and (max-width: 768px) {
      margin-block: rem(15) rem(20);
    }
  }

  &Content {
    max-width: rem(700);
    padding-bottom: rem(10);
    margin-inline: auto;
  }
}
