@use "@/app/styles/mixins" as *;
@use "@/app/styles/functions" as *;

.dark {
  --padding: 2px;

  background-color: var(--color-dark);
  color: var(--color-dark);
  @include flex-center;
  min-height: rem(34);
  border-radius: var(--border-radius);
  position: relative;
  cursor: pointer;
  padding: var(--padding);

  &::after {
    content: "";
    background-color: var(--color-light);
    position: absolute;
    left: var(--padding);
    top: var(--padding);
    @include square(rem(30));
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
  }

  &.darkMode {
    &::after {
      transform: translateX(100%);
    }
  }

  &Icon {
    @include square(rem(30));
    position: relative;
    z-index: 1;
  }
}
